
body{
    font-family: 'VT323', monospace;
   background-color:#050507;
   text-align: left;
   background-image: url(albumart.jpg);
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-position: right;
   background-size: contain;
   background-size: 70%;
}


img{
    max-width: 100%;
}

div.index{
    text-align: left;
    margin-top: 30vh;
    margin-left: 5vw;
    margin-right: 60vw;
    color: #CBDCF9;
}

div.description{
    text-align: left;
    margin-top: 1vh;
    margin-left: 5vw;
    margin-right: 60vw;
    color: #CBDCF9;
}

div.descriptiontitle{
    text-align: center;
    margin-top: 5vh;
    margin-left: 5vw;
    margin-right: 60vw;
    color: #CBDCF9;
    font-weight: bold;
    font-size: 20px;
}

div.buttons{
    position: fixed;
    width: 100%;
    text-align:right;
    right: 1.5vw;
}

div.buttons a{
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    color: #CBDCF9;
}

div.startbutt{
    text-align: center;
    margin-top: 8vh;
    margin-left: 5vw;
    margin-right: 60vw;
    color: #CBDCF9;  
}

div.startbutt a{
    font-size: 19px;
    font-weight: bold;
    color: #CBDCF9;
}

div.lyrictitle{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 8vh;
    margin-left: 5vw;
    margin-right: 60vw;
    color: #CBDCF9;
}

div.lyrics{
    text-align: left;
    margin-top: 8vh;
    margin-left: 10vw;
    margin-right: 65vw;
    margin-bottom: 85vh;
    color: #CBDCF9;
}

div.track{
    margin-left: 0.9vw;
    margin-top: 3vh;
    width: 100%;
    max-width: 768px;
}

div.track iframe {
    width: 100%;
}

div.index a{
    font-size: 20px;
    color:#CBDCF9
}

@media only screen and (max-width: 768px) {

    body{
        background-attachment: unset;
        background-repeat: no-repeat;
        background-position: top;
        background-size: contain;
        background-size: 70%;
        margin-right: 0;
    }

    div.lyrics{
        margin-top: 3vh;
        margin-left: 5vw;
        margin-right: 5vw;
        margin-bottom: 85vh;
    }

    div.index{
        text-align: left;
        margin-top: 30vh;
        margin-left: 5vw;
        margin-right: 5vw;
    }
    
    div.description{
        margin-right: 5vw;
        margin-left: 5vw;

    }
    
    div.descriptiontitle{
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
    }
    
    div.buttons{
        position: static;
        text-align: center;
        margin-left: 1vw;
        margin-right: 1vw;
        right:0;
        margin-top:27vh
    }
    
    div.buttons a{
        text-align: center;
        color: #CBDCF9;
    }
    
    div.startbutt{
        text-align: center;
        margin-right: 1vw;
        margin-left: 1vw;
        margin-top: 5vh;
    } 
    
    div.lyrictitle{
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 8vh
    }
    
    div.track{
        margin-left: 1vw;
        margin-right: 3vw;
        width: 94%;
        max-width: 768px;
        margin-top: 1vh;
    }
    
    div.track iframe {
    margin-left: 1vw;
    margin-right: 1vw;
    }
}